.navbar {
  background: #000000; }
  .navbar .nav-item {
    padding-left: 1em; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase; }

.carousel-item {
  height: 450px; }

.image-no-1 {
  background: url("../img/walpaper1 (2).jpg");
  background-position: center;
  background-size: cover; }

.image-no-2 {
  background: url("../img/walpaper1 (1).jpg");
  background-position: center;
  background-size: cover; }

.image-no-3 {
  background: url("../img/walpaper1 (1).jpeg");
  background-position: center;
  background-size: cover; }

#home-icon i {
  font-size: 50px; }

#get-start {
  position: relative;
  background: url("../img/gari.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  min-height: 250px; }
  #get-start .darkoverlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#home-video {
  position: relative;
  background: url("../img/walpaper1 (2).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  min-height: 250px; }
  #home-video .darkoverlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #home-video .darkoverlay i {
      font-size: 50px; }

#about-page-header {
  background: url("../img/wal (2).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom; }

#copyright {
  background: #000; }

#what-we-do img {
  width: 350px;
  height: 350px; }

#about-blog i {
  font-size: 50px;
  margin-bottom: 20px; }

#testimonial .slick-prev::before,
#testimonial .slick-next::before {
  color: #000; }

#services-header {
  background: url("../img/wal (3).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom; }

#blog-header {
  background: url("../img/wal (1).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

#contact-header {
  background: url("../img/walpaper1 (4).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

@media (max-width: 767px) {
  #get-start {
    min-height: 300px; }
  #infosec h2 {
    font-size: 25px; }
  #infosec p {
    font-size: 18px; } }

@media (max-width: 480px) {
  #show-slide h2 {
    font-size: 2.5rem; }
  #get-start {
    min-height: 420px; } }

@media (max-width: 360px) {
  #show-slide h2 {
    font-size: 2rem; }
  #show-slide p {
    font-size: 18px; } }
